.offer {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    width: 100%;
    display: block;
    background-color: #0ea52f;
    color: #eee;
    text-align: center;
    display: none;
}

.titulo{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}